body {
    font-family: 'Poppins', sans-serif;
    background-color: #e3f7f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}


.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    color: #333;
    text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #4f9f99;
  margin-bottom: 20px;
}


h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

input:focus {
    outline: none;
    border-color: #007BFF;
    background-color: #e3f7f1;
}

button {
    background-color: #007BFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button[type="reset"] {
    background-color: #f44336;
}

button[type="reset"]:hover {
    background-color: #e60000;
}

p {
    font-size: 1rem;
    color: #555;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
