body {
  font-family: 'Poppins', sans-serif;
  background-color: #e3f7f1; /* verde-água pastel */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 5%;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
  color: #333;
}